@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url("//db.onlinewebfonts.com/c/05e476e067ffef74ca5686f229c40a63?family=PingFang+SC");


*,
*::before,
*::after {
  font-family: 'PingFang SC', sans-serif;
}

html,
body, #__next {
  width: 100vw;
  height: 100vh;
}


@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } 
}


.albumpage-songitem {
  padding: 12px 20px;
}